<div class="main">
<ul>
 <li ng-class="isActive1 ? 'is-hover' : ''" ng-click="isActive1 = !isActive1"><p>Block 1<p ng-class="isActive1 ? 'small-text' : 'small-text-hide'">Block 1</p></p></li>
  <li ng-class="isActive2 ? 'is-hover' : ''" ng-click="isActive2 = !isActive2"><p>Block 2<p ng-class="isActive2 ? 'small-text' : 'small-text-hide'">Block 2</p></p></li>
  <li ng-class="isActive3 ? 'is-hover' : ''" ng-click="isActive3 = !isActive3"><p>Block 3<p ng-class="isActive3 ? 'small-text' : 'small-text-hide'">Block 3</p></p></li>
  <li ng-class="isActive4 ? 'is-hover' : ''" ng-click="isActive4 = !isActive4"><p>Block 4<p ng-class="isActive4 ? 'small-text' : 'small-text-hide'">Block 4</p></p></li>
  </ul>
</div>